<html lang="en">
  <body>
    <h1>English home</h1>
    <p>This is your bilingual travel site.</p>
    <p><a href="/es/">Español</a></p>
    <p><a href="/en/guides/lisbon-3-days/">Lisbon – 3 days</a></p>
  </body>
</html>
